@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400');

:root {
  --blue: #64b5f6;
  --orange: #ff6e40;
  --purple: #B39DDB;
  --yellow: #ffd600;
}

body {
  align-items: center;
  background: #eee;
  color: #555;
  display: flex;
  flex-flow: column wrap;
  font-family: "Roboto Mono", sans-serif;
  height: 100vh;
  justify-content: center;
  padding: 30px;
  text-align: center;
}

.loader {
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border: 30px solid #ddd;
  border-bottom: 30px solid var(--blue);
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(-360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}

h2 {
  animation: typing 1s infinite;
  font-size: 30px;
  margin-top: 30px;
  overflow: hidden;
}

@keyframes typing {
  from { width: 70% }
  to { width: 100% }
}